extends layout

include mixins/_burstCard

block content
  .inner
    h1= title
    .card-wrapper.flex-container-row.justify-space-between.flex-wrap
      each burst in bursts
        +burstCard(burst)
