nav.flex-container-row.justify-space-between
  ul.flex-container-row
    li 
      a(href="/" alt="Home") Home
    li 
      a(href="/latest" alt="Latest Bursts") Latest Bursts
    li 
      a(href="/my-bursts" alt="My Bursts") My Bursts
    li 
      a(href="/word-sprint" alt="Word sprint") Word Sprint
  ul.flex-container-row
    li
      a(href="/register" alt="Register") Register
    li
      a(href="/login" alt="Login") Login
