mixin burstForm(burst = {})
  form(id="burst" action=`/write/${burst._id || ''}` method="POST" class="card")
    label(for="name") Title
    input(type="text" name="name" value=burst.name)
    label(for="content") Content
    textarea(name="content")= burst.content
    label(for="genre") Genre
    input(type="radio" name="genre" value="comedy")
    | Comedy
    input(type="radio" name="genre" value="tragedy")
    | Tragedy
    input(type="submit" value="Save" class="button")
