.card {
  padding: 20px;
  margin-bottom: 40px;
  width: calc(33.33333333% - 20px);
  line-height: 25px;
  font-size: 20px;
  background: $lightest-green;

  &.shaded {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  &-full {
    width: 100%;
  }
}

.card-wrapper {
  .card:nth-last-child(1) {
    align-self: flex-start;
  }
}
